*{
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background-image: url(../image/body.png);
    /* background-size: cover; */
}
#menu-navegacion{
    background: rgba(0, 0, 0, 0.774);
    border-bottom: 10px rgb(255, 255, 255) double;
}
#menu-navegacion > ul {
    list-style: none;
}
/* 
#menu-navegacion > ul > li {
    display: inline-block;
} */

#menu-navegacion > ul > li > a{
    color: blanchedalmond;
    text-decoration: none;
    display: block;
    padding: 10px 80px;
    font-size: 18px;
}

#menu-navegacion > ul > li > a:hover{
    background-color: cadetblue;
}
.flex{
    display: flex;
}

h1{
    text-align: center;
    text-transform: uppercase;
    /* text-transform: none; -igual como fue escrito*/
    /* text-transform: capitalize;  -Primera de cada palabra en mayuscula*/
    /* text-transform: lowercase; -Todo en minuscula*/
    padding: 10px;
    font-size: 2.5em;

}
.contenedor{
    /* background-color: cadetblue; */
    margin: 2% 3% 0% 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contenedor-info{
    background: rgba(126, 252, 0, 0.39);
    text-align: center;
    padding: 30px 50px;

}
.contenedor-info > h2{
    font-size: 2rem;
    grid-column: 1/3;
}

.contenedor-info > h4{
    font-style:oblique;
    grid-column: 1/3;
}
.contenedor-info > img{
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 50%;
}
.contenedor-info > p{
    text-align: justify;
}
.contenedor_dos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(173, 216, 230, 0.466);
    padding: 20px 50px;
}

.contenedor_dos .habilidades ul > li {
    color: rgb(235, 20, 20);
}

.sobre_mi, .links{
    grid-column: 1/3;
}

.sobre_mi > h3{
    font-size: 2rem;
    letter-spacing: 2rem;
    font-weight: bold;
    /* word-spacing: normal; */
}

.sobre_mi > p{
    text-align: justify;
    padding: 10px 0px;
}

footer{
    text-align: center;

}


/* contacto */

button {
    color: #ffffff;
    background-color: #24cf5f;
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s; }

button:hover, button:active, button:focus {
    -ms-transform: scale(1.1);
        transform: scale(1.1); }
  
.contacto {
    margin: auto;
    margin-top: 3%;
    display: flex;
    max-width: 905px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }
    
.derecha {
    position: relative;
    padding: 20px;
    width: 60%;
    background-color: #fbcf34; 
}

.derecha img{
    width: 100%;
    height: 80%;
    padding: 40px 0px;
}
.izquierda {
    width: 100%;
    padding: 20px; 
}

.izquierda form{
   padding: 30px;
}

.nombre input, .celular input, .correo input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #f0f0f0; 
}
.nombre input:focus, .celular input:focus, .correo input:focus {
    outline: none;
    border-color: #fbcf34;
 }